<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Best Buy Node.Js Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>

</head>

<body>
    <div class="container">
        <div id="app">{{ html|safe }}</div>
    </div> <!-- /container -->
    <script type="text/JavaScript">
    var BBY_API_KEY = "{{key}}";
    </script>
    <script src="/js/vendor.js"></script>
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/bundle.js"></script>

    <noscript>
        <p>JavaScript is required for the web site.</p>
    </noscript> 
</body>
</html>